body{
    font-family:Roboto, "Helvetica Neve", sans-serif;
    background-color:black;
    padding-top: 60p;
    height:100%
}
body *{

    font-family:Roboto, "Helvetica Neve", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;

}
mat-option,
mat-label,
span,
button {
    text-transform: capitalize;
}